@model IEnumerable<RamiloAlonsoSaraTarea3.Models.Estudiantes>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1>Estudiantes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nombre
            </th>
            <th>
                Edad
            </th>
            <th>
                Curso
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                
                @Html.ActionLink("Detalles", "Detalles", new { id=item.Id })
                
            </td>
        </tr>
}
    </tbody>
</table>
